/*
** Bootstrap over-rides
*/

body {
    /*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto Slab', serif;
    color: #464646;
	line-height: 1.5;
}
.primary-bg {
    background: #00afe7;
    color: #fff;
}
.secondary-bg {
    background: rgba(199, 194, 190, 0.6);
    color: inherit;
}
h1 {
	font-size: 30px;
}

.titles {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
}

.subcategories {
    border-bottom: 1px solid #ececec;
    padding: 0 0 30px;
}
.subcategories > ul > li > a {
    color: #000;
    text-decoration: none;
    display: block;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.subcategories > ul > li > a:hover {
    opacity: 0.8;
}
.subcategories > ul > li span.name {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.category-products {
    padding: 35px 0 30px;
}
.category-actions {
    padding: 0 0 35px;
    margin: 0 0 35px;
    border-bottom: 1px solid #ececec;
}

@media(max-width: 1023px) {
    .site-header .searchBox {
        width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}
.form-control {
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    height: 36px;
    padding: 7px 12px;
}
.form-control.search-text {
     border-color: #ececec;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 400;
    text-transform: none;
	margin-top:10px;
}

.btn-danger {
    color: #ffffff;
    background-color:#502701;
    border-color: #502701;
}

.btn-success {
    color: #ffffff;
    background-color: #502701;
    border-color: #502701;
}


.btn-default {
    border-color: #502701;
    background-color: transparent;
    color: #502701;
}
.btn-default:hover,
.btn-default:focus, 
.btn-default.focus {
    color: #fff;
    background-color: #502701;
    border-color: #502701;
}
.btn-default.btn-inverse,
.btn-primary {
    color: #fff;
    background-color: #502701;
    border-color: #502701;

}

.carttotal-label{
	margin-bottom:10px;
}

.btn-default.btn-inverse:hover,
.btn-primary:hover {
	color: #fff;
    background-color: #502701;
    border-color: #502701;
    opacity: 0.8;
}
.navbar-wrapper {
    background: none;
}
.navbar.navbar-inverse {
    margin-bottom: 0;
    border: none;
    border-top: 2px solid #502701;
    background-color: transparent;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
    color: #222226;
	font-weight: 400;
	letter-spacing: 0.025em;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    min-height: 48px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #d6a916;
}
.navbar-nav > li > .dropdown-menu {
    background: #502701;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #fff;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #333;
}
.dropdown-menu > li > a {
    font-size: 12px;
    padding: 6px 20px;
    text-transform: uppercase;
    color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #d6a916;
    color: #fff;
}
.navbar-nav > li.dropdown > a:after {
    content: "\f107";
    font-family: "fontello";
    font-size: 18px;
    line-height: 1;
    margin-left: 5px;
}
@media (max-width: 1023px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .collapse.in{
      display:block !important;
  }
  .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
}

/*
** Template code
*/
.logo {
       height: 100px;
    position: relative;
    overflow: hidden;
    margin-top: -21px;
    margin-bottom: -24px;
}
.logo img {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.logo a:hover img {
    opacity: 0.6;
}
.top-nav {
    background: none;
    border-bottom: 1px solid #e5e5e5;
}
.top-nav ul {
    padding: 11px 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1;
    font-family: 'Roboto Slab', serif;
    text-transform: none;
    font-weight: 400;
}
.top-nav ul li {
    float: left;
    border-right: 1px solid #222226;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}
.top-nav .useraccount ul {
    float: right;
}
    .top-nav .useraccount ul a {
        padding:0;
    }

.top-nav ul li:last-child {
    border: none;
    margin: 0;
    padding: 0;
}
.top-nav ul li a {
    color: #222226;
    padding:2px 6px;
}
.top-nav ul li a:hover {
    text-decoration:none;
    color: #502701;
}

.utils {
    margin: 0px 0 0px 15px;
    padding: 0;
    list-style: none;
    text-align: right;
    float: right;
}
    .utils li {
        display: inline-block;
        text-align:right;
        line-height: 40px;
        padding: 0 7px;
    }

    .utils a {
        padding:0;
        color: #222226;
    }

    .utils a:hover {
        text-decoration: none;
    }

.site-header {
    padding: 32px 0;
    background: #fff;
}

.site-header .searchBox {
    float: right;
    padding:0;
}

.searchBox {
    padding: 10px 0;
}
.search-form {
    position: relative;
}

.search-form .search-text {
    padding: 9px 62px 9px 12px;
    height: 40px;
}
.search-form .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 16px;
}


.minicart {
    min-width: 165px;
    height: 60px;
    float: right;
    padding: 15px 0 15px 10px;
    border-left: 1px solid #ececec;
}
.minicart-inner {
    display: block;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
.minicart-inner:hover {
    color: #000;
    opacity: 0.8;
}
.minicart .cart-icon {
    display: block;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    float: left;
    margin-right: 5px;
}
.minicart .cart-details {
    display: block;
    float: left;
}

span.cart-title {
    font-size: 12px;
    line-height: 15px;
    display: block;
	font-weight: bold;
}
span.cart-count {
    color: #676767;
    font-size: 10px;
    display: block;
    line-height: 15px;
	font-weight: 500;
}
.site-footer {
    background-color: #f9f9fa;
    padding: 55px 0 0;
    color: #222226;
    font-family: 'Roboto Slab', serif;
}

ul.extrapages li {
    line-height: 1.5em;
    margin: 0 0 15px;
}
ul.extrapages li a {
    color: #222226;
    font-size: 14px;
}
    ul.extrapages li a i{
        font-size: 8px;
        vertical-align: middle;
    }
.footer-social {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}
.copyright {
    margin-top:10px;
    border-top:2px solid #222226;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height:36px;
}

.mailist-box {
    width: 280px;
    float: right;
    margin-bottom: 25px;
}
.mailist-box h3 {
    margin: 0 0 15px;
	font-family: 'Roboto Slab', serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.mailist-box p {
    margin: 0 0 15px;
	font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-transform: none;
    font-weight: 400;
    color: #595959;
}
.mailinglist-input.form-control {
    background-color: transparent;
    border-color: #2d2d2d;
    max-width: 230px;
    color: #afafaf;
    float: left;
}
.mailinglist-submit {
    border: none;
    float: right;
    width: 43px;
}
.btn-default.mailinglist-submit:hover, 
.btn-default.mailinglist-submit:focus {
    background-color: #502701 !important;
    color: #fff !important;
}
.mailinglist-response {
    display: none;
}
.maillist-options {
    margin: 15px 0 0;
}
.subscribe {
    float: left;
    margin-right: 20px;
    line-height: 13px;
}
.subscribe input[type="radio"] {
    margin: 0;
    vertical-align: middle;
}
.subscribe label {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
    margin-left: 3px;
    color: #afafaf;
    cursor: pointer;
}

.footer-social ul {
    margin: 0;
}
ul.payment-icons {
    text-align: right;
    color: #502701;
}
ul.payment-icons li {
    font-size: 34px;
    line-height: 36px;
    vertical-align: middle;
}

ul.payment-icons li.payment-icons-label,
ul.social-icons li.social-icons-label {
    font-size: 18px;
    vertical-align: middle;
    /*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    margin-right: 20px;
}

.social-icons {
    width: auto;
    float: right;
    margin-bottom: 10px;
    text-align: right;
}
.social-icons li a {
    color: #222226;
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    display: block;
    text-align: center;
    font-size: 18px;
    border: 1px solid #e5e5e5;
}
.social-icons li a:hover {
    opacity: 0.6;
}


.reviews-stars:before {
    font-family: "fontello";
    content: "\e803 \e803 \e803 \e803 \e803";
    color: #b8b8b8;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star,
.reviews-stars {
    color: #d6a916;
}

.product-items .product-item {
    text-align: center;
}
.product-item .name a {
    color: #000;
}
.product-item del.regular-price {
    text-decoration: line-through;
}
.sale-price {
    color: #d6a916;
}
del.original-price {
    font-weight: 500;
}
span.freeshipping {
    color: #00a888;
}
.product-item .status span:before {
    content: "-";
}
.product-item .status {
    font-size: 12px;
}
.product-item .price {
    font-size: 16px;
    font-weight: bold;
    color: #276658;
}
.product-item .on-sale-badge {
    border-radius: 100%;
    line-height: 20px;
    padding:15px 0;
    height:50px;
    width:50px;
    text-align: center;
    top:0;
    right: 0;
    background: #d6a916;
}
.product-item .img {
    min-height: 304px;
    position: relative;
    border: 1px solid #ececec;
    background-color: #fff;
}
.product-item .img a {
    display: block;
}
.product-item .img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	width:23%
}

.availabilityInfo{
	margin-bottom:10px;
}

.

.product-item .status .freeshipping {
    vertical-align: middle;
    margin-left: 0.2em;
}
.product-item .action .btn {
    min-width: 150px;
}
.head-mobile-nav > a {
    color: #000;
    font-size: 24px;
    line-height: 1;
}

/*
** Homepage
*/
.products-section {
    background-color: #fff;
    padding: 60px 0;
}
.products-section h2 {
    text-align: left;
    color: #502701;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 0 0 25px;
    position: relative;
}
.products-section h2:after {
}
.home-page-content .category-footer {
    padding: 0px 0 0px;
}
.home-page-content .category-footer h3 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 20px;
    font-weight: bold;
}
.home-page-content .category-footer p {
    margin: 0 0 30px;
    text-align: justify;
}
.home-page-content .category-footer a:hover img {
    opacity: 0.7;
}
.home-page-content .category-header {
    padding: 50px 0;
}
.home-page-content .category-header img {
    margin: 0 auto;
}
.extrapages-shower a {
    display: block;
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none !important;
}
.extrapages-shower a:after {
    content: "\f106";
    font-family: "fontello";
    float: right;
}
.extrapages-shower a.collapsed:after {
    content: "\f107";
}



.product-details{
} 



.product-details h1{
    font-size: 30px;
    font-weight: 500;
} 

.product-details pricingBlock{
	line-height:1px;
}




















@media(max-width: 1023px) {
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
        min-height: 0;
    }
    .navbar-nav > li.dropdown > a:after {
        float: right;
    }
    .mailist-box {
        float: none;
        padding: 30px 0;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }
    .footer-social {
        text-align: center;
    }
	.logo {
        text-align: center;
        height: auto;
    }
    .logo img {
        position: static;
    }
}

@media(max-width: 767px) {
    .searchBox {
        padding: 20px 0 0;
    }
    .search-form-col {
        clear: both;
    }
    .flex-direction-nav a:before {
        font-size: 24px;
    }
    .flex-direction-nav a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: -12px 0 0;
    }
    .mailinglist-input.form-control {
        max-width: 200px;
    }
    .social-icons li a {
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
    }
    .footer-social ul li {
        padding: 0 4px;
    }
    .extrapages {
        display: none;
    }
    .home-page-content .category-header {
        padding: 15px 0;
    }
    .extrapages-shower a {
        display: block;
    }
    ul.extrapages {
        margin: 0;
        padding: 15px 0;
    }
    ul.extrapages li a {
        font-size: 14px;
    }
}
@media(max-width: 567px) {
    .product-items.product-items-1 .product-item,
    .product-items.product-items-2 .product-item,
    .product-items.product-items-3 .product-item,
    .product-items.product-items-4 .product-item,
    .product-items.product-items-5 .product-item,
    .product-items.product-items-6 .product-item {
        max-width: 270px;
    }
}

.menu-open {
    overflow: hidden;
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}
.menu-open .mobile-menu {
    overflow-x: hidden;
    overflow-y: auto;
}
.mobile-menu-inner {
    background-color: #fff;
    padding: 30px 20px;
    width: 250px;
    margin-left: auto;
    margin-right: 0;
    min-height: 100vh;
    position: relative;

    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(250px,0);
    -ms-transform: translate(250px,0);
    -o-transform: translate(250px,0);
    transform: translate(250px,0);
}
.menu-open .mobile-menu-inner {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.mobile-menu-close a {
    color: #000;
    display: inline-block;
    line-height: 1;
    font-size: 24px;
    text-decoration: none;
}
.mobile-menu-close a:after {
    content: '\e805';
    font-family: "fontello";
}
.mobile-menu-widget {
    margin: 30px 0;
}
.mobile-menu-widget h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    line-height: 1;
    border-bottom: 1px solid #ececec;
}
.mobile-menu-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.mobile-menu-widget ul li {
    margin: 0 0 10px;
}
.mobile-menu-widget ul li a {
    padding: 0;
    line-height: 1;
    font-size: 13px;
    background-color: transparent !important;
    display: block;
    color: #555;
    text-decoration: none !important;
}
.mobile-menu-widget ul li a:hover {
    color: #333;
}
.mobile-menu-widget ul ul {
    display: none !important;
}
.mobile-menu-widget ul li a:after {
    display: none;
}

.mailinglist-response {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 12px;
    background-color: #2d2d2d;
    color: #ccc;
}
.mailinglist-error span {
    color: #8a6d3b;
}
.mailinglist-subscribed span,
.mailinglist-unsubscribed span {
    color: #3c763d;
}
.mailinglist-response,
.mailinglist-response div {
}

.floating-cart {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 999;
    background-color: #502701;
    color: #fff;
    border-radius: 20px 0 0 20px;
    padding: 15px;
    text-align: center;
    width: 90px;
    display: none;
}
.floating-cart a,
.floating-cart a:hover {
    color: #fff;
    text-decoration: none;
}
.floating-cart span.cart-icon {
    display: block;
    font-size: 30px;
    line-height: 1;
}
.floating-cart span.cart-details {
    font-size: 12px;
    text-transform: none;
    display: block;
    margin: 5px 0 0;
}

.paging {
    float: right;
}
.paging strong, 
.paging a {}
.paging strong,
.paging a:hover {
    color: #fff;
    background-color: #0f0f0f;
    text-decoration: none;
}

/*
Common page styles */
.page_header {
	margin: 0 0 30px;
}
.page_heading {
    margin: 0 0 0;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.page_heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 1px;
    border-bottom: 1px solid #502701;
}
.category-header {
    margin: 20px 0 0;
}

.fullwidth-slider img{
    width: 100%;
}


.scrollToTop{
    position: fixed;
    bottom: 0%;
    right: 5px;
    display: none;
    z-index: 999;
    text-align: center;

    color: #502701;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 20px 20px 0 0;
    width: 70px;
    display: none;

    font-size: 36px;
}
.scrollToTop:hover{
	text-decoration:none;
    background-color: rgba(255, 255, 255, .8);
    -webkit-transition: opacity 1000ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out;
    -o-transition: opacity 1000ms ease-in-out;
    -ms-transition: opacity 1000ms ease-in-out;
    transition: opacity 1000ms ease-in-out;
}
    .scrollToTop span {
        display: none;
    }


iframe {
    display: block;
}
@media(min-width: 768px) {
    .revealOnScroll {
        opacity:0;
    }
}


 @media only screen and (max-width: 560px){
	 .media-heading {
		 font-size:12px
	 }
 }
.livesearch h3 
    {
        font-size: 17px;
        color: #000;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-family: 'Nunito', sans-serif;
        font-weight:600;
        margin-top: 10px;
    }
    
    .livesearch 
    {
        width: 100% !important;
        position: absolute;
        background: #fff;
        padding-left: 15px;
        /*padding: 0px 16px 6px 16px;*/
        box-shadow: 0px 6px 13px -2px #c3c3c3;
        border-radius: 0;
        left: 0;
        top: 42px;
        z-index: 100000;
    }

    .livesearch a 
    {
        text-decoration: none !important;
        color: #000 !important;
        text-transform:capitalize;
        display: block;
        width: 100%;
        padding: 5px 0;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    .textCase
    {
        text-transform: capitalize;
    }

    .model_b 
    {
    display:none;
    position: absolute;
    top: 40%;
    left: 29%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    }

    .img:hover .model_b 
    {
        display: block;
        opacity: 1;
    }
    .loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid #fff;
  border-radius: 50%;
  border-top-color: #502701;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
.loaderr {
   position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid #A9A9A9;
  border-radius: 50%;
  border-top-color: #502701;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}


.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -240px;
  background-color: #f1f1f1;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 100%;
    /* height: 300px; */
    margin-right: 10px;
    background: #FFF;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    /* content: "A"; */
    line-height: 300px;
    font-size: 80px;
    color: white;
  }