#cookieconsent_wrapper {
	bottom: 0px;
	background-color: rgb(17, 17, 17);
	z-index: 999999;
	opacity: 0.9;
	position: fixed;
	padding: 15px;
	left: 0px;
	right: 0px;
	font-weight: normal;
	text-align: center;
	letter-spacing: normal;
	color: rgb(255, 255, 255);
	font-family: Arial, sans-serif;
	box-shadow: rgb(0, 0, 0) 0px 0px 8px;
}
#cookieconsent_innerwrapper {
	width: 100%;
	margin: 0px auto;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: Arial, sans-serif;
	line-height: 18px;
	letter-spacing: normal;
}
#cookieconsent_header {
	z-index: 999999;
	padding: 0px 0px 7px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: Arial, sans-serif;
	display: block;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}
#cookieconsent_buttonswrapper {
	margin: 10px auto 0px;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	font-family: Arial, sans-serif;
}
.cookieconsent_buttons {
	border: 0px;
	padding: 10px 50px;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	margin: 0px 15px 0px 0px;
	transition: all 0.25s ease 0s;
	display: inline-block;
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.cookieconsent_buttons:hover, .cookieconsent_buttons:focus {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
#cookieconsent_accept {
	background-color: rgb(241, 214, 0);
}
#cookieconsent_policy, #cookieconsent_policy:hover, #cookieconsent_policy:focus {
	text-decoration: none;
}